@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin-700.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 8px auto;
    width: 1100px;

}

.Header-menu {
    width: 549px;
    margin-left: 325.89px;
    margin-right: 8px;
}

.Header-menu-List {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.Header-part {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.Header-inline {
    display: flex;
    width: 100%;
    align-items: center;

}

.header-Menu-List-Item a {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.header-Menu-List-Item {
    padding: 16px;
    text-align: center;

}

.header-Menu-List-Item:hover {
    border-bottom: 3px solid #191919;
    margin-top: -3px;
}

.header-Menu-List-Item:active {
    background-color: rgba(25, 25, 25, 0.7);
    color: #FFFFFF;
    border: 3px solid transparent;
}

.header-Menu-List-Item:nth-child(1) {
    width: 114px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header-Menu-List-Item:nth-child(2) {
    width: 98px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.header-Menu-List-Item:nth-child(3) {
    width: 93px;
    flex: none;
    order: 2;
    flex-grow: 0;

}

.header-Menu-List-Item:nth-child(4) {
    width: 76px;
    flex: none;
    order: 3;
    flex-grow: 0;

}

.header-Menu-List-Item:nth-child(5) {
    width: 63px;
    flex: none;
    order: 4;
    flex-grow: 0;

}

.header-Menu-List-Item:nth-child(6) {
    width: 105px;
    flex: none;
    order: 5;
    flex-grow: 0;

}

.Logo:hover {
    opacity: 0.8;
}

.Logo:active {
    opacity: 0.4;
}

.Heeader-Link {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    padding: 8px 16px;
    color: #FFFFFF;
    width: 167px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #00BAFC;
    text-decoration: none;
    border-radius: 5px;
}

.Heeader-Link:hover {
    background: #FFFFFF;
    color: #00BAFC;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 8px 16px;
    order: 0;
    flex-grow: 0;
    width: 167px;
    border: 3px solid #00BAFC;
    border-radius: 5px;
    display: flex;

    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Heeader-Link:active {
    background: rgba(0, 186, 252, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.heading {
    width: 194px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
    margin-bottom: 16px;
}

.section {
    padding: 72px 0;
}

.heading-bottom {
    width: 800px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: auto;
}

.xizmatlar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    background: #F4F4F4;
}

.xizmatlar-part-list {
    list-style-type: none;
    margin: auto;
}

.xizmatlar-part-list-item {
    width: 804px;
    padding: 32px;
    gap: 40px;
    width: 804px;
    height: 378px;
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
}

.xizmatlar-part-list-item {
    display: flex;

}

.xizmatlar-part-list-item:not(:nth-child(5)) {
    margin-bottom: 64px;
}

.Xizmatlar-part-heading {
    width: 100%;
    height: 26px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    display: inline-block;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 16px;
}

.Xizmatlar-part-text {
    width: 500px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: inline-block;
}

.Xizmatlar-part-item {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    list-style-type: none;
    margin-bottom: 8px;
}

.link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 167px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    border: 0;
    margin-top: 16px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 313px;
}

.Batafsil {
    width: 135px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #00BAFC;
    flex: none;
    order: 0;
    padding-top: 15px;
    flex-grow: 0;
}

.link:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: rgba(0, 186, 252, 0.8);
}

.link:active {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: rgba(0, 186, 252, 0.6);
    border-radius: 5px;
}

.Batafsil:hover {
    color: rgba(0, 186, 252, 0.8);
}

.Batafsil:active {
    color: rgba(0, 186, 252, 0.8);
}

.order-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 100px;
    gap: 16px;
    background: #00BAFC;
}

.order-header {
    width: 203px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
    margin-bottom: 16px;

}

.Order-text {
    font-family: 'Open Sans';
    font-weight: 400;
    width: 719px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: auto;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 348px;
    background: #FFFFFF;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
    margin-top: 24px;
}

.Form-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #00BAFC;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
    margin: auto;
}

.form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    background: #F3F3F3;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 0;
}

.site-footer {
    background: #191919;
    padding: 56px 0;
}

.site-footer-content {
    width: 320px;
    margin-right: 100px;
}

.Copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 16px;


}

.footer-inline {
    display: flex;
    align-items: stretch;
}

.Footer_list {
    list-style-type: none;
    display: flex;
}

.Footer-list-item {
    width: 87px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 8px;
    display: block;
    text-decoration: none;
}

.Footer-list-item:hover {
    width: 90px;
    height: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00BAFC;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Footer-list-item:active {
    width: 90px;
    height: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #00BAFC;
    opacity: 0.6;
}

.Footer-li:not(:nth-child(2)) {
    margin-right: 87px;
}

.Footer-li:nth-child(2) {
    width: 142px;
}

.Footer-li:nth-child(2) a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.Footer-List-item-heading {
    font-family: 'Open Sans';
    width: 143px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}